@charset "utf-8";
@use "sass:math";

// Variables
//////////////////////////////

// ======== Breakpoints ========
$gap: 32px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344 + (2 * $gap);

$widescreen-enabled: true !default;
$widescreen-enabled: true !default;

// ======== Colors ========
$white: #fff;
$black: #212121;
$gray: lighten($black, 30);
$tomato: tomato;
$rebeccaPurple: rebeccapurple;
$cornflowerBlue: cornflowerblue;

// SNS
$facebook-blue: #3b5998;
$hatebu-blue: #008fde;
$twitter-blue: #55acee;
$line-green: #00c300;
$gp-red: #dd4b39;

// Typography
$font-family-en: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Roboto;
$font-family-jp: YuGothic, 'Hiragino Kaku Gothic ProN',
  'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo;
$font-family: $font-family-en, $font-family-jp, sans-serif;

$weight-normal: 400;
$weight-bold: 600;

$scaleRatio: 1.333;

$size-normal: 1.6rem;
$size-medium: $size-normal * $scaleRatio;
$size-large: $size-normal * $scaleRatio * $scaleRatio;
$size-xlarge: $size-normal * $scaleRatio * $scaleRatio * $scaleRatio;
$size-xxlarge: $size-normal * $scaleRatio * $scaleRatio * $scaleRatio *
  $scaleRatio;
$size-small: math.div($size-normal * $size-normal, $size-normal * $scaleRatio);

// Index
//////////////////////////////
// snippets: z-index: index($z, header);
$z: header, footer, content;

// Sizes
//////////////////////////////
$max-width: 1080px;
